@font-face {
  font-family: 'Roboto Font';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format('woff2'),
       url("../fonts/roboto.woff") format('woff');
}

@font-face {
  font-family: 'Roboto Font';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format('woff2'),
       url("../fonts/robotomedium.woff") format('woff');
}

@font-face {
  font-family: 'Roboto Font';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format('woff2'),
       url("../fonts/robotobold.woff") format('woff');
}

:root {

  --basic-black: #323232;
  --basic-dark: #353535;
  --basic-gray-dark: #5A5A5A;
  --basic-gray: #999999;
  --basic-gray-pale: #EDEDED;
  --basic-gray-med: #CACAC7;
  --basic-gray-light: #D3D3D2;
  --basic-gray-deep: #696969;
  --basic-white-dark: #FEFEFE;
  --basic-white: #FFFFFF;
  --basic-toggles: #ABABAB;

  --basic-gradient-1: #F26843;
  --basic-gradient-2: #E74A35;
  --basic-rusty: #E84D37;
  --basic-red-pale: #D07058;
  --basic-pink-dark: #FFBC9E;
  --basic-salmon: #FBDED7;
  --basic-salmon-dark: #F6B5A5;
  --basic-pink: #F8F7F4;
  --basis-sandy: #F3E7CF;


  --basic-green-light: #ECF1EE;

  --basic-bg-green: #849D8F;
  --basic-bg-gray: #8996A6;
  --basic-bg-brown: #9D8B84;

  --opacity: 0.2;
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  --basic-black-transparent2: rgba(50, 50, 50, 0.2);
  --basic-gray-transparent3: rgba(178, 178, 178, 0.52);
  --basic-gray-shadow: rgba(49, 50, 53, 0.5);
  --basic-scarlet-shadow: rgba(160, 32, 11, 0.76);
  --basic-red-shadow: rgba(172, 16, 0, 0.64);

  --basic-bg-crimson:  #3E0008;
  --basic-bg-choco: #301A0E;

  --basic-range: rgba(248, 247, 244, 0.5);
}

html {
  height: 100%;
}

body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: "Roboto Font", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  min-height: 100%;
  color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup,
.modal,
.slide {
  display: none;
}

.slide-shown {
  display: initial;
}

.link {
  font: inherit;
  color: inherit;
}

.navigation-list,
.catalog-list-nav,
.catalog-list,
.slider-list,
.features-list,
.socials-list,
.breadcrumbs-list,
.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.index-wrapper,
.catalog-page-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  width: 100%;
}

.icecream-bg-1{
  background: url("../img/framegreen.jpg") center top no-repeat;
}

.site-wrapper-1 {
  background-color: var(--basic-bg-green);
}

.icecream-bg-2 {
  background: url("../img/framegray.jpg") center top no-repeat;
}

.site-wrapper-2 {
  background-color: var(--basic-bg-gray);
}

.icecream-bg-3 {
  background: url("../img/framebrown.jpg") center top no-repeat;
}

.site-wrapper-3 {
  background-color: var(--basic-bg-brown);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.header-contacts {
  grid-column: 2/3;
}

.main-navigation,
.navigation-list,
.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-list-item > .link {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: inherit;
  border-bottom: 1px solid rgba(var(--white), var(--opacity));
}

.user-menu .link {
  background-color: rgba(var(--white), var(--opacity));
  border-radius: 20px;
}

.user-menu .link:hover,
.user-menu .link:focus,
.filter-btn:hover,
.filter-btn:focus,
.navigation-list-item .link:hover,
.navigation-list-item .link:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border-radius: 26px;
}

.search-link:hover path,
.search-link:focus path,
.enter-link:hover path,
.enter-link:focus path,
.cart-link:hover path,
.cart-link:focus path {
  fill: var(--basic-black);
}

.catalog-list-nav .link {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: var(--basic-black);
}

.catalog-list-nav .new {
  font-weight: bold;
  line-height: 18px;
}

.open-hours {
  font-weight: bold;
}

.phone-number {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: inherit;
}

.enter-form,
..shopping-cart {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  color: var(--basic-black);
}

.promo-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 524px;
  justify-content: flex-end;
  text-align: center;
}

.promo-slider h3 {
  margin: 0;
}

.slide-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slider-controls {
  position: absolute;
}

.btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px var(--basic-scarlet-shadow);
  color: inherit;
  background-image: linear-gradient(180deg, var(--basic-gradient-1) 0%, var(--basic-gradient-2) 100%);
  box-shadow: 0px 2px 2px var(--basic-red-shadow);
  border: none;
  border-radius: 70px;
}

.slide-btn {
  font-size: 32px;
  line-height: 44px;
}

.offer-1 {
  background-color: var(--basic-bg-crimson);
  background-image: url(../img/sp-offer1.jpg);
}

.offer-2 {
  background-color: var(--basic-bg-choco);
  background-image: url(../img/sp-offer2.jpg);
}

.special-offer,
.blog,
.subscription {
  flex-basis: 560px;
  border-radius: 16px;
  background-size: cover;
}

.special-offer-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.special-offer-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.populars .catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.catalog-list-item .link{
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid rgba(var(--white), var(--opacity));
}

.price {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px var(--basic-gray-shadow);
}

.price-rub {
  font-size: 45px;
  line-height: 45px;
}

.features,
.blog .link {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
}

.features .container {
  width: 1146px;
  background-color: var(--basis-sandy);
  background-image: url(../img/waffle.jpg);
  border-radius: 16px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 33px 26px;
}

.features-list-item {
  padding-left: 52px;
}

.features-list-item,
.blog,
.subscription  {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.shared-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog {
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url(../img/article.jpg);
}

.blog .link {
  font-weight: bold;
}

.subscription {
  background-color: var(--basic-pink);
  background: url(../img/postbg.png);
  padding: 5px 6px;
}

.subscription-form {
  height: 100%;
  background-color: var(--basic-pink);
}

.subscription p {
  color: var(--basic-gray-dark);
  margin: 0;
}

.map img {
  position: absolute;
  height: 430px;
  width: 100%;
  object-fit: cover;
}

.contacts {
  display: flex;
  position: relative;
  min-height: 430px;
  z-index: 1;
}

.info-block {
  width: 303px;
  background-color: var(--basic-white);
  border-radius: 16px;
  margin: auto 0 auto auto;
}

.contact-info {
  color: var(--basic-black);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contact-info-details {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(var(--white), var(--opacity));
}

.main-footer .link,
.copyright {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap
}

.footer-navigation {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px 28px;
  flex-basis: 327px;
}

.footer-navigation .suplliers {
  font-weight: bold;
}

.copyright {
  font-size: 12px;
}

.feedback-form input,
.feedback-form textarea {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: var(--basic-gray);
}

.feedback-text {
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-black);
}

.enter-form p,
.shopping-cart table,
.shopping-cart p {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-black);
}

.shopping-cart-price {
  color: var(--basic-gray-med);
}

.shopping-cart .total-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

.breadcrumbs {
  margin-top: -38px;
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-list-item {
  font-weight: normal;
}

.page-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.filters-form {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filters fieldset {
  border: none;
  margin: 14px 15px 0 0;
  padding-top: 11px;
  padding-bottom: 0;
}

.filters select,
.fat-percentage,
.fillings,
.range-controls,
.filter-btn {
  height: 36px;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  background-color: rgba(var(--white), var(--opacity));
  border: none;
  border-radius: 20px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.filter-btn {
  border: 2px solid var(--basic-white);
}

.range-controls {
  position: relative;
  width: 218px;
  padding: 18px 21px;
}

.scale {
  width: 176px;
  height: 2px;
  background-color: var(--basic-range);
}

.bar {
  width: 106px;
  height: 2px;
  background-color: var(--basic-pink);
  margin-left: 24px;
}

.toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--basic-toggles);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  top: 9px;
  left: 34px;
}

.toggle-max {
  left: 132px;
}

.toggle:hover {
  transform: scale(1.1);
  cursor:
}

.catalog .catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 26px;
}

.catalog-list-item {
  position: relative;
  width: 267px;
}

.catalog-item-btn {
  display: none;
}

.catalog-list-item:hover .catalog-item-btn,
.catalog-wrapper:focus-within .catalog-item-btn {
  display: inline-block;
}

.catalog-list-item:hover .catalog-wrapper,
.catalog-wrapper:focus-within  {
  height: auto;
  position: absolute;
  width: 293px;
  top: -6px;
  left: -13px;
  background-color: rgba(var(--white), var(--opacity));
  box-shadow: 0px 20px 20px rgba(var(--black), var(--opacity));
  border-radius: 4px;
  padding: 6px 13px 21px 13px;
  z-index: 1;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
}

.pagination-list-item {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  height: 26px;
  min-width: 26px;
}

.pagination-list .link {
  display: inline-block;
  margin: 3px 9px 3px 8px;
}

.pagination-list .current {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 50%;
}

.social-icon path:first-of-type {
  --opacity: 0.5;
  stroke: rgba(var(--white), var(--opacity))
}

.social-icon path:not(:first-of-type) {
  --opacity: 0.8;
  fill: rgba(var(--white), var(--opacity));
}

